<%- include('partials/header') -%>


<!-- Saved Recipes Cards -->
<div class="container card-container">
    <h1>My Favorites</h1>

    <!-- Buttons for adding new recipe (triggers modal) and filtering by category -->
    
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown"  id="addAndFilterBtn">
        
      
        
      </div>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% for(var i=0; i < recipes.length; i++) {%>
      <% if(recipes[i].favorites.includes(user.id)) {%>
    <div class="col">
      <div class="card h-100">
        
        <div class="card-body">
          <h5 class="card-title"><%= recipes[i].recipeName%></h5>
          <h6 class="card-subtitle mb-2 text-muted">Category: <%= recipes[i].category %></h6>
          <a href="/recipes/fullRecipe/<%= recipes[i]._id%>" class="btn btn-outline-primary">View Recipe</a>
        </div>
      </div>
    </div>
    <% } %>
    <% } %>
  </div>
</div>






<%- include('partials/footer') -%>