<%- include('partials/header') -%>

<!---------Recipe Name------->
    <section>
        <div class="container text-decoration-underline">
            <h1><%= recipe.recipeName %></h1> 
          </div>
         
          <div class="container">
            <h3>Category: <%= recipe.category %></h3>

            <div class="btn-group">
              <a href="/recipes" class="btn btn-outline-primary" aria-current="page">My Recipes</a>
              <a href="/recipes/publicRecipes" class="btn btn-outline-primary">Public Recipes</a>
              <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#unitConversionModal">Unit Converter</button>
            </div>
          </div>

          

          <div class="container border">              
            <p><%- recipe.instructions %></p>
            <%if(recipe.userId == user.id){ %>
              <form
                action="/recipes/deleteRecipe/<%= recipe.id %>?_method=DELETE"
                method="POST"
                class="col-3"
              >
                <button class="btn btn-outline-danger" type="submit">Delete Recipe</button>
              </form>
              <%}%>
          </div>
    </section>


    <!-- Unit Conversion Modal -->
    <div class="modal fade" id="unitConversionModal" tabindex="-1" aria-labelledby="unitConversionModalLabel" aria-hidden="true">
      <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Unit Converter</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="mb-3">
                <!-- Select Ingredient -->
                <select class="form-select" aria-label="select ingredient" id="ingredientConvertSelect">
                  <option value="">Select Ingredient</option>
                  <option value="all-purpose flour">All-Purpose Flour</option>
                  <option value="almond flour">Almond Flour</option>
                  <option value="3">Three</option>
                </select>
                

                <!-- Convert From - To Selector -->
                <div class="row g-3">
                  <div class="col">
                    <select class="form-select" aria-label="convert from" id="convertFrom">
                      <option value="">Convert From</option>
                      <option value="cupsToGrams">Cups to Grams</option>
                      <option value="gramsToCups">Grams to Cups</option>
                    </select>
                  </div>
                          <!-- Amount Input -->
                                          <input type="text" name="" id="amountToConvert" placeholder="Amount">
                  <p id="showConverted">converted will go here</p>
              </div>

                          <!--Submit Recipe-->
                          <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary" id="convertUnitButton">Convert</button>
                          </div>
                  </form>
      </div>
      </div>
  </div>

<%- include('partials/footer') -%>