<%- include('partials/header') -%>

<!---------Recipe Name------->
    <section>
        <div class="container text-decoration-underline">
            <h1><%= recipe.recipeName %></h1> 
          </div>
         
          <div class="container">
            <h3>Category: <%= recipe.category %></h3>
          </div>
          <div class="container">
            <a href="/recipes"><button type="button" class="btn btn-primary">My Recipes</button></a> 
           </div>
           <div class="container">
            <a href="/recipes/publicRecipes"><button type="button" class="btn btn-primary">Public Recipes</button></a> 
           </div>
          <div class="container border">              
            <p><%- recipe.instructions %></p>
          </div>
    </section>

    <%if(recipe.userId == user.id){ %>
      <form
        action="/recipes/deleteRecipe/<%= recipe.id %>?_method=DELETE"
        method="POST"
        class="col-3"
      >
        <button class="btn btn-primary" type="submit">Delete Recipe</button>
      </form>
      <%}%>
    

<%- include('partials/footer') -%>