<%- include('partials/header') -%>

<!---------Recipe Name------->
    <section>
        <div class="container text-decoration-underline">
            <h1><%= recipe.recipeName %></h1> 
          </div>
         
          <div class="container">
            <h3>Category: <%= recipe.category %></h3>

            <div class="btn-group">
              <a href="/recipes" class="btn btn-outline-primary" aria-current="page">My Recipes</a>
              <a href="/recipes/publicRecipes" class="btn btn-outline-primary">Public Recipes</a>
            </div>
          </div>

          

          <div class="container border">              
            <p><%- recipe.instructions %></p>
            <%if(recipe.userId == user.id){ %>
              <form
                action="/recipes/deleteRecipe/<%= recipe.id %>?_method=DELETE"
                method="POST"
                class="col-3"
              >
                <button class="btn btn-outline-danger" type="submit">Delete Recipe</button>
              </form>
              <%}%>
          </div>
    </section>


    

<%- include('partials/footer') -%>