<%- include('partials/header') -%>

<!---------Recipe Name------->
    <section>
        <div class="container text-decoration-underline">
            <h1><%= recipe.recipeName %></h1> 
          </div>
         
          <div class="container">
            <h3>Category: <%= recipe.category %></h3>

            <div class="btn-group">
              <a href="/recipes" class="btn btn-outline-primary" aria-current="page">My Recipes</a>
              <a href="/recipes/publicRecipes" class="btn btn-outline-primary">Public Recipes</a>
              <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#unitConversionModal">Unit Converter</button>
              <!-- ///////////////////////////////////////////// -->
              <form
                class="col justify-content-end"
                action="/recipes/addFavorite/<%= recipe.id %>?_method=PUT"
                method="POST"
              >
              <button class="<%if(recipe.favorites.includes(user.id)){ %> bi bi-suit-heart-fill<%} else { %> bi bi-suit-heart <% }%>
                btn btn-outline-danger " type="submit"></button>
              </form>
              
                </div>
          </div>
<!-- ///////////////////////////////////////////// -->
          


          <div class="container border">
                          
            <p><%- recipe.instructions %></p>
            <%if(recipe.userId == user.id){ %>
              <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteWarning">
                Delete Recipe
              </button>
              <%}%>
          </div>
    </section>

<!-- Delete Recipe Warning Modal -->
<div class="modal fade" id="deleteWarning" tabindex="-1" aria-labelledby="deleteWarningModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteWarningModal">Are you sure?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        This will permanently delete your recipe! If it's public, others will no longer be able to see it.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <form
                action="/recipes/deleteRecipe/<%= recipe.id %>?_method=DELETE"
                method="POST"
                class="col-4"
              >
                <button class="btn btn-outline-danger" type="submit">Delete Recipe</button>
              </form>
      </div>
    </div>
  </div>
</div>







    

    <!------------------------ Unit Conversion Modal ------------------------>
    <div class="modal fade" id="unitConversionModal" tabindex="-1" aria-labelledby="unitConversionModalLabel" aria-hidden="true">
      <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Unit Converter</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="mb-3">
                <!-- Select Ingredient -->
                <select class="form-select" aria-label="select ingredient" id="ingredientConvertSelect">
                  <option value="">Select Ingredient</option>
                  <option value="all-purpose flour">All-Purpose Flour</option>
                  <option value="almond flour">Almond Flour</option>
                  <option value="baking powder">Baking Powder</option>
                  <option value="baking soda">Baking Soda</option>
                  <option value="bread flour">Bread Flour</option>
                  <option value="brown sugar">Brown Sugar</option>
                  <option value="butter">Butter</option>
                  <option value="buttermilk">Buttermilk</option>
                  <option value="cake flour">Cake Flour</option>
                  <option value="chocolate chips">Chocolate Chips</option>
                  <option value="cream cheese">Cream Cheese</option>
                  <option value="cocoa powder">Cocoa Powder</option>
                  <option value="corn meal">Corn Meal</option>
                  <option value="granulated sugar">Granulated Sugar</option>
                  <option value="heavy cream">Heavy Cream</option>
                  <option value="milk">Milk</option>
                  <option value="molasses">Molasses</option>
                  <option value="powdered sugar">Powdered Sugar</option>
                  <option value="sour cream">Sour Cream</option>
                  <option value="oats">Oats</option>
                  <option value="vegetable oil">Vegetable Oil</option>
                  <option value="walnuts">Walnuts</option>
                  <option value="kosher salt">Salt</option>
                  <option value="sea salt">Sea Salt</option>
                </select>
                

                <!-- Convert From - To Selector -->
                <div class="row g-3">
                  <div class="col">
                    <select class="form-select" aria-label="convert from" id="convertFrom">
                      <option value="">Convert From</option>
                      <option value="cupsToGrams">Cups to Grams</option>
                      <option value="gramsToCups">Grams to Cups</option>
                    </select>
                  </div>
                <!-- Amount Input -->
                <input type="text" name="" id="amountToConvert" placeholder="Amount">
                
                <!-- Display converted amount -->
                <p id="showConverted"></p>
              </div>

                          <!--Submit Recipe-->
                          <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary" id="convertUnitButton">Convert</button>
                          </div>
                  </form>
      </div>
      </div>
  </div>

<%- include('partials/footer') -%>