<!-- Header -->
<%- include('partials/header') -%>

<!-- Public Recipes Cards -->
<% publicRecipes.filter( el => { %>
    <% if(el.userId != user._id) {%>
    <div class="card" style="width: 18rem;" data-id="<%=el._id%>">
        <div class="card-body">
        
          <h5 class="card-title"><%= el.recipeName %></h5>
          <h6 class="card-subtitle mb-2 text-muted">Category: <%= el.category %></h6>
          <a href="/recipes/fullRecipe/<%= el._id%>" class="card-link">View Recipe</a>
          <% } %>
        </div>
        <% }) %>
      </div>



<!-- Footer -->
<%- include('partials/footer') -%>
